html,body{
    color: #EEE5E9;
    font-family: 'Roboto', sans-serif;
    background-color: #080705;
    background:linear-gradient(140.54deg, #608D00 0%, #D30000 72.37%), 
    	linear-gradient(360deg, #0029FF 0%, #8FFF00 100%), 
    	radial-gradient(100% 164.72% at 100% 100%, #6100FF 0%, #00FF57 100%), 
    	radial-gradient(100% 148.07% at 0% 0%, #FFF500 0%, #51D500 100%);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-blend-mode: color-dodge, overlay, difference, normal;
}
section{
	widows: 100wv;
	text-align: justify;
	background-color: transparent;
	padding: 80px 30px 80px 30px;
}
section h1{
	font-size: 45px;
	text-align: center;
	font-family: 'Lobster', cursive;
	border-radius: 10px;
	margin-bottom: 20px;
	padding: 10px;
	color: #EEE5E9;
}
i{
	color: #EEE5E9;
}
.table{
	color: #EEE5E9;
}
.row{
	background-color: transparent;
}
.nav-link{
	color: #EEE5E9;
	font-size: 20px;
}
/*plano de fundo*/
/*
.bk{
	z-index: -7;
	border: none;
	position: fixed;
	width: auto;
	height: : 100vh;
	top: -50px;
	left: -50px;
	filter: blur(25px);
}
*/
.card{
	text-align: center;
	border: 4px solid white;
	border-radius: 10px;
	min-height: auto;
	background-color: rgba(255, 255, 255, 0.1);
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card a{
	font-size: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-header{
}
.card-body{
	text-align: left;
}
.card-footer{

}
.icon-col{
	text-align: center;
}
